{% extends "base.html" %}


{% block content %}
  <h2>GitHub API</h2>
  <P>Query your favorite dev on github</P>
  <form method="get">
    <input type="text" placeholder="query github user" name="username">
    <button type="submit">search on github</button>
  </form>
{% if search_result %}
  {% if search_result.success %}
    <p>
      <strong>{{ search_result.name|default_if_none:search_result.login }}</strong> has
      <strong>{{ search_result.public_oreps }}</strong> public repositories.
    </p>
    <img width="50%" height="50%" style="max_width=100px" src="{{ search_result.avatar_url }}" />
  {% else %}
    <p><em>{{ search_result.message }}</em></p>
  {% endif %}
  <p>Rate limit: {{ search_result.rate.remaining }}/{{ search_result.rate.limit }}</p>
{% endif %}

{% endblock %}