<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}api consuming{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css\base.css" %}" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <script src="main.js"></script>
    <meta property="og:title" content="Api consumption" />
    <meta property="og:type" content="video.tech" />
    <meta property="og:description" content="consuming api with django" />
    <meta property="og:url" content="http://search-apii.herokuapp.com/" />
    <meta property="og:image" content="https://docs.mulesoft.com/mule-user-guide/v/3.5/_images/Consume+REST+basic+anatomy.png" />
</head>
<body>
    <a style="background: none;cursor: pointer;" href="https://github.com/silvareal/api-consuming" target="_blank">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>
    <div class="wrap">
    <h1 style="text-align:center"><span style="color:goldenrod">SILVA</span> DJANGO <span style="color:rgb(141, 103, 8)">API-CALL</span></h1>
    <nav class="flex-nav">
        <a href="#" class="togglenav"><i class="fa fa-align-justify"></i>Menu</a>
        <ul>
            <li>
                <a href="{% url 'map' %}">map</a>
            </li>
            <li>
                <a href="{% url 'github' %}">github user</a>
            </li>
            <li>
                <a href="{% url 'dictionary' %}">dictionary</a>
            </li>
        </ul>
    </nav>


<section class="main">
    {% block content %}
    {% endblock %}
</section>

<footer style="background-color: rgba(0,0,0,0.2); color: black;">
    <p style="padding: 10px;font-size: 18px; text-align: center;">2018 copyright reserved by sylvernus</p>
</footer>

</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
    $(function() {
        $('.togglenav').on('click', function() {
            $('.flex-nav ul').toggleClass('open')
        });
    });
</script>
</body>
</html>